{% extends "layout.html" %}

{% block body %}
<div class="row">
  <div class="col-sm-6 offset-sm-2">
    <h1>Dashboard</h1>
  </div>
  <div class="col-sm-4 text-right">
    <a href="/create-article" class="btn btn-primary">Create Article</a>
  </div>
</div>

<div class="row">
<table class="col-8 offset-2 table table-fluid table-striped">
  <thead class="thead-dark">
    <th>Title</th>
    <th>Author</th>
    <th></th>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <td>{{article.title}}</td>
      <td>{{article.name}}</td>
      <td class="text-right d-flex justify-content-end">
        <a href="/article/{{article.id}}" class="btn btn-primary mr-1">View</a>
        <a href="/edit-article/{{article.id}}" class="btn btn-primary mr-1">Edit</a>
        <form action="/delete-article" method="POST">
          <input type="hidden" name="id" value="{{article.id}}" />
          <input type="submit" class="btn btn-danger" value="Delete" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}